{% extends "base.html" %}

{% block title %}
<title>News</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card mx-auto shadow mt-3">
        <img id="article-img" class="card-img-top" src="" alt="" srcset="">
        <div class="card-body">
            <h4 id="article-title" class="card-title"></h4>
            <h6 id="article-author" class="card-subtitle mb-2 text-muted"></h6>
            <p id="article-text" class="card-text" style="min-height: 4em"></p>
            <a id="next-btn" href="#" class="btn btn-secondary">Next Article</a>
            <a id='article-read' href="#" class="btn btn-primary pull-right" target="_blank">Continue Reading in New
                Tab</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}